{% extends "layout.html" %}
{% block content %}
    <div class="forum-page row">
        <div class="user-area col-3 justify-content-center h-100 w-100">
            <div class="user-area-content text-center mt-5">
               <div class="user-image">
                   <img src="" alt="">
               </div> 
               <div class="user-name text-center">
                    <a class="" href="">Username</a>
               </div>
            </div>
        </div>
        <div class="forum-area ml-5">
            <div class="title">
                <h1 class="display-4">FORUMS</h1>
            </div>
        </div>
    </div>
{% endblock content %}
